@media (max-width: 768px) {
  .header {
    background-color: #fff;
    .hero {
      .hero-wrapper {
        margin-top: 60px;
        text-align: center;
        .hero-left {
          text-align: center;

          h3 {
            font-size: 40px;
          }

          .button-wrapper {
            justify-content: center;
          }
        }
        .hero-right {
          &::after {
            top: 30%;
            right: 10%;
            z-index: 1;
          }

          .shoe-img {
            width: 500px !important;
          }
        }

        .hero-bottom {
          margin: 0 auto;
          &::after {
            bottom: -50%;
            right: 0%;
            height: 100%;
            width: 100%;
            border-radius: 0px;
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .best-of-wrapper {
    .best-of-content {
      h3 {
        font-size: 30px !important;
      }

      a {
        margin-top: 30px !important;
      }
    }
  }

  .best-of-card-wrapper {
    .card {
      &:nth-child(1)::after {
        display: none;
      }

      &:nth-child(2) {
        &::after {
          display: none;
        }

        &::before {
          bottom: -7%;
          right: 2rem;
          z-index: -1;
        }
      }
    }
  }

  .love-they-us {
    .love-they-content {
      h3 {
        font-size: 30px !important;
      }
    }
  }

  .why-join-us {
    .why-join-wrapper {
      .why-join-right {
        .img-content {
          span {
            &:nth-child(1) {
              &::after {
                width: 100%;
                top: 83%;
                height: 200px;
                left: 0%;
                border-radius: 0;
                transform: rotate(-45deg);
              }

              &::before {
                top: 12rem;
                right: -2rem;
              }
            }
            &:nth-child(2) {
              &::after {
                top: -2rem;
                right: 45px;
              }

              &::before {
                bottom: -16rem;
                right: 13rem;
                z-index: 3;
              }
            }
            &:nth-child(3) {
              &::after {
                bottom: -17rem;
                right: 9rem;
              }
            }
          }
        }
      }
    }
  }

  .grow-your-collection {
    .grow-your-wrapper {
      .grow-your-right {
        .grow-your-img-wrapper {
          .img-content-2 {
            top: 200px;
            left: 19rem;
            z-index: 5;
            background-color: #f1f1f1;

            .img {
              img {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }

  .country {
    .vector-content {
      .vector-1 {
        bottom: 32rem;
        right: 0rem;
      }
      .vector-2 {
        bottom: 26rem;
        right: 0rem;
      }

      .vector-3 {
        top: 10rem !important;
        right: 0rem !important;
      }
    }

    .country-wrapper {
      background-color: #78350f;
      width: 100%;
    }
  }
  .footer {
    .footer-wrapper {
      justify-content: center;
      text-align: center;
    }
  }
}
